.profile {
    max-width: 880px;
    margin: 58px auto 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {}
@media (max-width: 768px) {}
@media (max-width: 320px) {}