.element__title {
    height: 23px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    letter-spacing: 0;
    margin: 18px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 320px) {}