.header {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 42px;
    border-bottom: 1px solid #545454;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 320px) {
    .header {
        max-width: 320px;
        padding: 27px 0 0 0;
    }
}