.elements {
    max-width: 880px;
    margin: 53px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 17px;
}

@media (max-width: 1024px) {
    .elements {
        max-width: 584px;
        margin: 38px auto 0;

    }
}

@media (max-width: 660px) {
    .elements {
        max-width: 584px;
        margin: 38px auto 0;
    }
}

@media (max-width: 320px) {}