.popup__close-button {
  background-image: url(../../../images/Close\ Icon.svg);
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}