.profile__avatar {
    border-radius: 50%;
    max-height: 127.5px;
    max-width: 119.5px;
}

@media (max-width: 1024px) {
    .profile__avatar {
        border-radius: 50%;
        max-height: 127.5px;
        max-width: 119.5px;
        margin: 16px 0 0 0;
    }
}